.label-sm {
    font-size: 12px;
}

.label-md {
    font-size: 16px;
}

.label-lg {
    font-size: 20px;
}

td.menu-td {
    padding-right: 50px;
    border-right: 1px solid grey;
}

td.body-td {
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: #0000F0;
    padding: 3px;
    outline: 0;
}

a:hover {
    color: #dd4444;
}

td.td-status {
    text-align: center;
}

a.no-class {
    text-decoration: none;
}

span.status_active {
    color: seashell;
    background: green;
    padding: 2px;
}

span.status_inactive {
    color: gainsboro;
    background: red;
    padding: 2px;
}

.login_panel {
    margin-right: 1%;
}

/*

form div {
    width: 450px;
    display: inline-table;
}

form div label {
    width: 190px;
    margin-right: 10px;
    float: left;
}

form div input, form div textarea {
    float: right;
    width: 210px;
}

form div textarea#myshopbundle_page_content{
    width: 100%;
}

form div select {
    float: right;
    padding: 2px;
    width: 224px;
}

form div textarea {
    width: 220px;
}

form input[type=submit] {
    display: block;
}

table.product-info th{
    text-align: left;
    padding-right: 15px;
}
table.product-info td{
    text-align: left;
}

img.product_info_photos{
    height: 200px;
}
div.product_info{
    text-align: center;
}

table ul li {
    list-style: none outside none;
}

div#myshopbundle_product div{
    border-bottom: 1px dotted #6E6E6E;
    padding-top:2px;
}

div#myshopbundle_product div ul{
    display: flex;
    float: left;
    font-size:12px;
    margin-top: 0;
    margin-bottom: 1px;
    padding-left: 5px;
    color:red;
}

div.cke_inner{width: 800px}
*/
