{% extends "AdminBundle::layout.html.twig" %}

{% block body %}
    <h2>Добавление категории</h2>
    <form method="POST" action="{{ path("admin.category.add") }}" >
        {{ form_widget(form) }}
        <input type="submit" value="Сохранить">
    </form>

    {{ render(controller("AdminBundle:Category:categoriesForTreeJson")) }}

{% endblock %}
