{% extends "AdminBundle::layout.html.twig" %}

{% block body %}
    <h2>Редактирование категории</h2>
    <form action="{{ path("admin.category.edit", {category_id: category.id}) }}" method="POST">
        {{ form_widget(form) }}
        <input type="submit" value="Сохранить">
    </form>

{% endblock %}
