{% extends "AdminBundle::layout.html.twig" %}


{% block body %}
<h2>Добавить товар</h2>
<form action="{{ path("admin.product.add") }}" method="POST">
{{ form_widget(form) }}
<input type="submit"/>
</form>
{% endblock %}
