{% extends "AdminBundle::layout.html.twig" %}


{% block body %}
    <ul>
    {% for cat in categoryList %}
        <li><a href='{{ path("admin.product.listbycategory", {id_category:cat.id}) }}'>{{ cat.category() }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
