{% extends "AdminBundle::layout.html.twig" %}

{% block body %}
    <h3>Добавление фото к товару {{ product.productname }}</h3>
    <form enctype="multipart/form-data" method="post" action="{{ path("admin.product_photo_add", {idProduct:product.getId()}) }}">
        {{ form_widget(form) }}
        <input type="submit" value="Добавить" />
    </form>
{% endblock %}