{% extends "AdminBundle::layout.html.twig" %}

{% block body %}
    <form action="{{ path("admin.user_add") }}" method="post">

        {{ form_widget(form) }}
        <input type="submit" value="Add">
    </form>
{% endblock %}